.education {
    margin-bottom: 20px;
    .title {
        @include header;
    }
    ul {
        display: inline-flex;
        list-style: none;
    }
    .education-item {
        margin-bottom: 20px;
        .degree {
            @include body-text;
            font-weight: bold;
        }
        .university {
            @include body-text;
        }
        .time {
            @include body-text;
        }
        .grade {
            @include body-text;
        }
    }
}